body {

    background-image: url("../images/illustration/high-angle-view-poker-chips-green-table.jpg");
    background-size: 110%;
 
    /*
    <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    */
}

.header {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3rem;
    margin-left: 35%;
    text-align: center;

}

.button {

    transition-duration: 0.4s;
    cursor: pointer;
}

.play-button {
    background-color: white; 
    color: black; 
    border-radius: 12px; 
    font-size: 36px;
    font-family: 'Russo One', sans-serif;
}
.play-button:hover {

    background-color: #ff3300;
    color: black;
}

.hidden-header {
    visibility: hidden;
}

.game {
    padding-top: 10%;
}


.player-cards, .dealer-cards {
    margin-left: 55%;
    padding: 2.5%;
    visibility: hidden;
}

.player-start-card {
    max-width: 20%;
}

.dealer-start-card {
    max-width: 20%;
}