body {

    background-image: url("../images/illustration/high-angle-view-poker-chips-green-table-min.jpg");
    background-size: 150%;
    /*
    <a href='https://www.freepik.com/photos/background'>Background photo created by freepik - www.freepik.com</a>
    */
}

.header {
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5rem;
    margin-left: 60%;
    text-align: center;
}

.points {
    color: white;
    font-size: 3rem;
}

.button {
    cursor: pointer;
    transition-duration: 0.4s;
}

.play-buttons {
    margin-top: 2.5%;
    margin-left: 55%;
    visibility: hidden;
}

.play-button {
    background-color: white; 
    border-color: white;
    border-radius: 12px;
    border-style: solid;
    color: black; 
    font-family: 'Russo One', sans-serif;
    font-size: 36px;
}

.play-button:hover {
    background-color: #ffff00;
    color: black;
}

.hit-button{
    border-color: None;
    border-style: solid;
    margin-left: 13.5%;
}

.hit-button:hover {
    background-color: #ff0000;
    color: black;
}

.stand-button {
    border-color: None;
    border-style: solid;
    margin-left: 2.5%;
}

.stand-button:hover {
    background-color: #00ff00;
    color: black;
}

.next-button {
    border-color: None;
    border-style: solid;
    margin-left: 2.5%;
}

.next-button:hover {
    background-color: #ffff00;
    color: black;
}

.player-cards, .dealer-cards {
    margin-left: 65%;
    visibility: hidden;
}

.dealer-cards {
    margin-top: 2.5%;
}

.player-start-card {
    max-width: 20%;
}

.dealer-points {
    color: white;
    font-size: 3rem;
    margin-left: 50%;
}

.player-points {
    color: white;
    font-size: 3rem;
    margin-left: 50%;
    margin-top: 0%;
}

.dealer-start-card {
    max-width: 20%;
}

.winner {
    color: white;
    font-size: 3rem;
    margin-left: 82.5%;
}